
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app  {
    margin: 40px auto;
    border: 2px solid black;
    width: 500px;
    background-color: royalblue;
    text-align: center;
}

input, h1, button {
    margin: 30px;
    text-align: center;
}

.textNoColor {
    color: white;
}

.textWithColor {
    color: red;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.immagineNonVisibile {
    width: 100%;
    display: none;
}

.imageYes {
    width: 100%;
    display: block;
}